extends layout

block content

  .menu
    h2 Menu
    ul.nav.nav-pills
      li.active
        a(href='/tasks') All tasks
      li
        a(href="/tasks?completed=true") Completed
  h1= title

  .list
    .item.add-task
      div.action
        form(action='/tasks', method='post')
          input(type='hidden', value='true', name='all_done')
          input(type='hidden', value=locals._csrf, name='_csrf')
          input(type='submit', class='btn btn-success btn-xs', value='all done')
      form(action='/tasks', method='post')
        input(type='hidden', value=locals._csrf, name='_csrf')
        div.name
          input(type='text', name='name', placeholder='Add a new task')
        div.delete
          input.btn.btn-primary.btn-sm(type="submit", value='add')

    if (tasks.length === 0)
      | No tasks.
    each task, index in tasks
      .item
        div.action
          form(action='/tasks/toggle', method='post')
            input(type='hidden', value=task.id.toString(), name='id')
            input(type='hidden', value=locals._csrf, name='_csrf')
            input(type='submit', class='btn btn-success btn-xs task-done', value='Toggle')
        div.num
          span=index+1
            |.&nbsp;
        div.name
          span.name
            - if (task.completed)
              strike= task.name + ' (Added on: ' + moment(task.createTime).format("YYYY/MM/DD") + ')'
              span &nbsp; √
            - else
              = task.name + ' (Added on: ' + moment(task.createTime).format("YYYY/MM/DD") + ')'
        div.delete
          form(action='/tasks/delete', method='post')
            input(type='hidden', value=task.id.toString(), name='id')
            input(type='submit', class='btn btn-success btn-xs task-done', value='Delete')
